@page "/Financiamientos"
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject FinanciamientoService financiamientoService

<PageTitle>Financiamientos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header d-flex justify-content-between align-items-center">
			<h1 class="mb-0"><strong>Financiamientos</strong></h1>
			<button type="button" class="btn btn-outline-danger d-flex align-items-center" @onclick="IrACrear">
				<i class="bi bi-plus-circle me-2"></i> Agregar
			</button>
		</div>
		@*Body*@
		<div class="card-body">
			@if (loading)
			{
				<div class="d-flex justify-content-center">
					<div class="spinner-border text-info">
					</div>
				</div>
			}
			else if (financiamientos.Count == 0)
			{
				<h1 class="miMensaje text-center"><i class="bi bi-exclamation-triangle" /> No hay financiamientos creados</h1>
			}
			else
			{
				<table class="table table-bordered miTabla">
					<thead class="table-dark">
						<tr>
							@* <th>FinanciamientoId</th> *@
							<th>Detalle</th>
							<th>CuotaMensual</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var financiamiento in financiamientos)
						{
							<tr>
								@* <td>@financiamiento.FinanciamientoId</td> *@
								<td>@financiamiento.Detalle</td>
								<td>RD$ @financiamiento.CuotaMensual.ToString("N2")</td>
								<td>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-outline-info" @onclick="()=> IrADetalles(financiamiento.FinanciamientoId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles">
											<i class="bi bi-eye"></i>
										</button>

										<button type="button" class="btn btn-outline-warning" @onclick="()=> IrAEditar(financiamiento.FinanciamientoId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
											<i class="bi bi-pencil-square"></i>
										</button>
										<button type="button" class="btn btn-outline-danger" @onclick="()=> IrAEliminar(financiamiento.FinanciamientoId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
											<i class="bi bi-trash3-fill"></i>
										</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
		@*Footer*@
		<div class="card-footer">
			<p><strong>Total de Financiamientos:</strong> @financiamientos.Count</p>
		</div>

		@*Total de Pagos*@
		<div class="d-flex justify-content-center">
			<div class="total-financiamientos-container">
				<h4 class="fw-bold text-danger">Total a Descontar</h4>
				<h3 class="fw-bold">RD$ @(financiamientos.Sum(e => e.CuotaMensual).ToString("N2"))</h3>
			</div>
		</div>
	</div>
</div>

@code {
	public List<Financiamientos> financiamientos = new List<Financiamientos>();
	public string mensaje { get; set; }
	public bool loading { get; set; } = true;

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		financiamientos = await financiamientoService.Listar(e => true);

		loading = false;

		if (financiamientos.Count == 0)
			StateHasChanged();
	}

	public void IrACrear()
	{
		navigation.NavigateTo("/CreateFinanciamientos");
	}

	public void IrADetalles(int id)
	{
		navigation.NavigateTo($"/ViewFinanciamientos/financiamientoId={id}");
	}

	public void IrAEditar(int id)
	{
		navigation.NavigateTo($"/EditFinanciamientos/financiamientoId={id}");
	}

	public void IrAEliminar(int id)
	{
		navigation.NavigateTo($"/DeleteFinanciamientos/financiamientoId={id}");
	}
}
